<form class="ui large form segment">
  <h3 class="ui header">Add a Link</h3>
  <div class="field">
    <label for="title">Title:</label>
    <input name="title" id="title" #newtitle> <!-- #newtitle is a template variable -->
  </div>
  <div class="field">
    <label for="link">Link:</label>
    <!-- 
      #newlink is a template variable
      this markup tells Angular bind this <input> to the variable newlink
      the #newlink syntax is called a resolve
      the effect that this makes the variable newlink available to the expressions within this view
      newlink is now an object that represents this input DOM element (type is HTMLInputElement)
    -->
    <input name="link" id="link" #newlink>
  </div>
  <button (click)="addArticle(newtitle, newlink)" class="ui positive right floated button">
    Submit link
  </button>
</form>

<div class="ui grid posts">
  <app-article *ngFor="let article of sortedArticles()" [article]="article"></app-article>
</div>